<header id="header_bar">
    <div class="header-div">
        <!-- checkbox stores the state of the dropdown navbar for mobile -->
        <input type="checkbox" id="nav-toggle" class="nav-toggle" />
        <div>
            <a title="Go to home page" href="/" class="text-2xl font-semibold"
                >home</a
            >
            <!-- hamburger button used for the navbar checkbox hack -->
            <label for="nav-toggle" class="nav-toggle-label lg:hidden">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
        <nav class="nav-container">
            <menu class="nav-wrapper">
                <li>
                    <a
                        class="primary-link"
                        href="{{ get_url(path='@/blog/_index.md') }}"
                        >blog</a
                    >
                </li>
                <li>
                    <a
                        class="primary-link"
                        href="{{ get_url(path='@/about.md') }}"
                        >about</a
                    >
                </li>
            </menu>
        </nav>
    </div>
</header>
