<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Genevieve Mendoza</title>
        <link rel="stylesheet" href="/main.css" />
    </head>

    <body>
        <!-- is this bad? "Practically speaking this means you have to choose between using includes or extends to organise your site, without mixing them."  -->
        {% include "partials/header.html" %}
        <section class="section">
            <div class="blog-container">{% block content %} {% endblock %}</div>
        </section>
        <!-- limit on only the homepage. is there a better way? -->
        {% if section %} {% if section.path == "/" %} {% include
        "partials/footer.html" %} {% endif %} {% endif %}
    </body>
</html>
